<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl 12">

            <div class="row g-3">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Completed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of data">
                        <td>{{i.name}}</td>
                        <td>{{i.desg}}</td>
                        <td>{{i.salary}}</td>
                        <td>{{i.phone}}</td>
                      </tr>
                    </tbody>
                  </table>

        </div>
    </div> 

